{{ content_for_index }}

<h1>1.String Concatenation</h1>

{%  assign first_name = "Sachi" %}
{%  assign last_name = "Goto" %}
<!-- // capture containes everything in the capture tag //  -->
{% capture full_name %}
Full Name: {{ first_name }} {{ last_name }}
{%  endcapture %}

{{ full_name }}


<h2>2.Substrings</h2>

{%  assign youtube_video_url = "https://www.youtube.com/watch?v=PD-dx92RJtg" %}

{%  if youtube_video_url contains 'youtube.com/watch' %}

{% assign video_id = youtube_video_url |split: 'v=' %}
  {% if youtbe_vidoe_url contains '&' %}
    {%  assign video_id = video_id[1] | split : '&' | first %}
{% else %}
    {%  assign video_id = video_if[1] %}
{%  endif %}
<iframe width="560" height="315" src="//www.youtube.com/embed/{{ video_id }}?rel=0$showinfo=0&vq=720" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>>

{% endif %}

<iframe width="560" height="315" src="https://www.youtube.com/embed/PD-dx92RJtg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



